@charset "utf-8";
body {
}
.fluid {
    min-width: 0px;
    min-height: 0px;
    max-width: 100%;
}
.site_title {
    text-align: center;
    color: #22E426;
    font-size: 100px;
}
.site_image {
    float: none;
    width: 100%;
    height: 250px;


}
.banner {
}
table {
	display: block;
}